asttokens=2.4.1=pyhd8ed1ab_0
async-timeout=4.0.3=pyhd8ed1ab_0
attrs=24.2.0=pyh71513ae_0
backoff=2.2.1=pypi_0
beautifulsoup4=4.13.3=pypi_0
blas=1.0=mkl
blinker=1.9.0=pypi_0
brotli-python=1.0.9=py312hd77b12b_8
bs4=0.0.2=pypi_0
bzip2=1.0.8=h2bbff1b_6
ca-certificates=2025.1.31=h56e8100_0
cachetools=5.5.0=pypi_0
certifi=2025.1.31=pyhd8ed1ab_0
cffi=1.17.1=py312h827c3e9_0
charset-normalizer=3.4.0=pyhd8ed1ab_0
click=8.1.8=pypi_0
colorama=0.4.6=pyhd8ed1ab_0
comm=0.2.2=pyhd8ed1ab_0
contourpy=1.3.0=pypi_0
ctransformers=0.2.27=pypi_0
cudatoolkit=11.8.0=h09e9e62_13
cycler=0.12.1=pypi_0
dataclasses-json=0.6.7=pypi_0
debugpy=1.6.7=py312hd77b12b_0
decorator=5.1.1=pyhd8ed1ab_0
defusedxml=0.7.1=pypi_0
distro=1.9.0=pypi_0
docstring-parser=0.16=pypi_0
duckduckgo-search=8.0.1=pypi_0
elastic-transport=8.17.1=pypi_0
elasticsearch=9.0.1=pypi_0
exceptiongroup=1.2.2=pyhd8ed1ab_0
executing=2.1.0=pyhd8ed1ab_0
expat=2.6.3=h5da7b33_0
faiss=1.9.0=py312cuda118hf892f8d_0_cuda
faiss-gpu=1.9.0=hef1f8eb_0
falkordb=1.1.1=pypi_0
fastapi=0.115.3=pypi_0
feedparser=6.0.11=pypi_0
filelock=3.16.1=pypi_0
fireworks-ai=0.15.7=pypi_0
fix-busted-json=0.0.18=pypi_0
fonttools=4.54.1=pypi_0
frozenlist=1.4.0=py312h2bbff1b_0
fsspec=2024.10.0=pypi_0
gitdb=4.0.12=pypi_0
gitpython=3.1.44=pypi_0
google-ai-generativelanguage=0.6.10=pypi_0
google-api-core=2.24.2=pypi_0
google-api-python-client=2.170.0=pypi_0
google-auth=2.35.0=pypi_0
google-auth-httplib2=0.2.0=pypi_0
google-cloud-aiplatform=1.70.0=pypi_0
google-cloud-bigquery=3.26.0=pypi_0
google-cloud-core=2.4.3=pypi_0
google-cloud-resource-manager=1.13.0=pypi_0
google-cloud-storage=2.18.2=pypi_0
google-crc32c=1.6.0=pypi_0
google-generativeai=0.8.3=pypi_0
google-resumable-media=2.7.2=pypi_0
googleapis-common-protos=1.65.0=pypi_0
gpt4all=2.8.2=pypi_0
graphrag-sdk=0.7.1=pypi_0
greenlet=3.0.1=py312hd77b12b_0
groq=0.11.0=pypi_0
grpc-google-iam-v1=0.13.1=pypi_0
grpcio=1.71.0=pypi_0
grpcio-status=1.67.0=pypi_0
h11=0.14.0=pyhd8ed1ab_0
h2=4.1.0=pyhd8ed1ab_0
hpack=4.0.0=pyh9f0ad1d_0
httpcore=1.0.6=pyhd8ed1ab_0
httplib2=0.22.0=pypi_0
httpx=0.27.2=pyhd8ed1ab_0
httpx-sse=0.4.0=pypi_0
httpx-ws=0.6.2=pypi_0
huggingface-hub=0.26.1=pypi_0
hyperframe=6.0.1=pyhd8ed1ab_0
idna=3.10=pyhd8ed1ab_0
importlib-metadata=8.5.0=pyha770c72_0
intel-openmp=2023.2.0=h57928b3_50497
ipykernel=6.29.5=pyh4bbf305_0
ipython=8.28.0=pyh7428d3b_0
jedi=0.19.1=pyhd8ed1ab_0
jinja2=3.1.5=pypi_0
jiter=0.6.1=pypi_0
joblib=1.4.2=pypi_0
jsonpatch=1.33=pyhd8ed1ab_0
jsonpointer=2.0=py_0
jsonschema=4.23.0=pypi_0
jsonschema-specifications=2024.10.1=pypi_0
jupyter_client=8.6.3=pyhd8ed1ab_0
jupyter_core=5.7.2=py312haa95532_0
kiwisolver=1.4.7=pypi_0
krb5=1.21.3=hdf4eb48_0
langchain=0.3.19=pypi_0
langchain-anthropic=0.2.3=pypi_0
langchain-community=0.3.18=pypi_0
langchain-core=0.3.40=pypi_0
langchain-experimental=0.3.3=pypi_0
langchain-fireworks=0.2.5=pypi_0
langchain-google-community=2.0.7=pypi_0
langchain-google-genai=2.0.1=pypi_0
langchain-google-vertexai=2.0.5=pypi_0
langchain-groq=0.2.1=pypi_0
langchain-openai=0.3.7=pypi_0
langchain-text-splitters=0.3.6=pypi_0
langgraph=0.2.74=pypi_0
langgraph-checkpoint=2.0.16=pypi_0
langgraph-sdk=0.1.53=pypi_0
langserve=0.3.0=pypi_0
langsmith=0.1.140=pypi_0
libblas=3.9.0=20_win64_mkl
libexpat=2.6.3=he0c23c2_0
libfaiss=1.9.0=cuda118h51f90d9_0_cuda
libffi=3.4.4=hd77b12b_1
libhwloc=2.11.1=default_h8125262_1000
libiconv=1.17=hcfcfb64_2
liblapack=3.9.0=20_win64_mkl
libsodium=1.0.20=hc70643c_0
libsqlite=3.49.1=h67fdade_2
libxml2=2.13.1=h24da03e_2
libzlib=1.2.13=h2466b09_6
litellm=1.68.0=pypi_0
lxml=5.4.0=pypi_0
lz4-c=1.9.4=hcfcfb64_0
markdown-it-py=3.0.0=pypi_0
markupsafe=3.0.2=pypi_0
marshmallow=3.23.0=pypi_0
matplotlib=3.9.2=pypi_0
matplotlib-inline=0.1.7=pyhd8ed1ab_0
mcp=1.3.0=pypi_0
mdurl=0.1.2=pypi_0
mkl=2023.2.0=h6a75c08_50497
mkl-service=2.4.0=py312h2bbff1b_1
mkl_fft=1.3.10=py312h827c3e9_0
mkl_random=1.2.7=py312h0158946_0
msgpack=1.1.0=pypi_0
multidict=6.1.0=pyhe1237c8_1
mypy-extensions=1.0.0=pypi_0
narwhals=1.24.1=pypi_0
nest-asyncio=1.6.0=pyhd8ed1ab_0
numpy=1.26.4=py312hfd52020_0
numpy-base=1.26.4=py312h4dde369_0
ollama=0.2.1=pypi_0
openai=1.75.0=pypi_0
openssl=3.5.0=ha4e3fda_0
orjson=3.10.7=py312h827c3e9_0
outcome=1.3.0.post0=pypi_0
packaging=24.1=pyhd8ed1ab_0
pandas=2.2.3=pypi_0
parso=0.8.4=pyhd8ed1ab_0
pickleshare=0.7.5=py_1003
pillow=11.0.0=pypi_0
pip=24.2=py312haa95532_0
platformdirs=4.3.6=pyhd8ed1ab_0
primp=0.15.0=pypi_0
prompt-toolkit=3.0.48=pyha770c72_0
proto-plus=1.25.0=pypi_0
protobuf=5.28.3=pypi_0
psutil=5.9.0=py312h2bbff1b_0
pthreads-win32=2.9.1=h2466b09_4
pure_eval=0.2.3=pyhd8ed1ab_0
py-cpuinfo=9.0.0=pypi_0
pyarrow=19.0.0=pypi_0
pyasn1=0.6.1=pypi_0
pyasn1-modules=0.4.1=pypi_0
pycparser=2.22=pyhd8ed1ab_0
pydantic=2.8.2=pyhd8ed1ab_0
pydantic-core=2.20.1=py312hefb1915_0
pydantic-settings=2.6.0=pypi_0
pydeck=0.9.1=pypi_0
pygments=2.18.0=pyhd8ed1ab_0
pyjwt=2.9.0=pypi_0
pyparsing=3.2.0=pypi_0
pypdf=4.3.1=pypi_0
pysocks=1.7.1=pyh0701188_6
python=3.12.3=h2628c8c_0_cpython
python-abc=0.2.0=pypi_0
python-dateutil=2.9.0=pyhd8ed1ab_0
python-dotenv=1.0.1=pypi_0
python_abi=3.12=6_cp312
pytz=2024.2=pypi_0
pywin32=305=py312h2bbff1b_0
pyyaml=6.0.2=py312h827c3e9_0
pyzmq=25.1.2=py312hd77b12b_0
ratelimit=2.2.1=pypi_0
redis=5.3.0=pypi_0
referencing=0.36.2=pypi_0
regex=2024.9.11=pypi_0
requests=2.32.3=pyhd8ed1ab_0
requests-toolbelt=1.0.0=pypi_0
rich=13.9.4=pypi_0
rpds-py=0.22.3=pypi_0
rsa=4.9=pypi_0
safetensors=0.5.2=pypi_0
scikit-learn=1.5.2=pypi_0
scipy=1.14.1=pypi_0
seaborn=0.13.2=pypi_0
selenium=4.31.0=pypi_0
setuptools=75.1.0=py312haa95532_0
sgmllib3k=1.0.0=pypi_0
shapely=2.0.6=pypi_0
six=1.16.0=pyh6c4a22f_0
smmap=5.0.2=pypi_0
sniffio=1.3.1=pyhd8ed1ab_0
sortedcontainers=2.4.0=pypi_0
soupsieve=2.6=pypi_0
sqlalchemy=2.0.34=py312h54f65d0_0
sqlite=3.45.3=h2bbff1b_0
sse-starlette=1.8.2=pypi_0
stack_data=0.6.2=pyhd8ed1ab_0
starlette=0.41.0=pypi_0
streamlit=1.41.1=pypi_0
tavily-python=0.5.1=pypi_0
tbb=2021.13.0=hc790b64_0
tenacity=8.5.0=pyhd8ed1ab_0
threadpoolctl=3.5.0=pypi_0
tiktoken=0.8.0=pypi_0
tk=8.6.14=h0416ee5_0
tokenizers=0.21.0=pypi_0
toml=0.10.2=pypi_0
tornado=6.4.1=py312h827c3e9_0
tqdm=4.66.5=pypi_0
traitlets=5.14.3=pyhd8ed1ab_0
transformers=4.49.0=pypi_0
trio=0.29.0=pypi_0
trio-websocket=0.12.2=pypi_0
typing-extensions=4.12.2=hd8ed1ab_0
typing-inspect=0.9.0=pypi_0
typing_extensions=4.12.2=pyha770c72_0
tzdata=2024.2=pypi_0
ucrt=10.0.22621.0=h57928b3_1
uritemplate=4.1.1=pypi_0
urllib3=2.2.3=pyhd8ed1ab_0
uvicorn=0.32.0=pypi_0
vc=14.40=h2eaa2aa_1
vc14_runtime=14.40.33810=hcc2c482_22
vs2015_runtime=14.40.33810=h3bf8584_22
watchdog=6.0.0=pypi_0
wcwidth=0.2.13=pyhd8ed1ab_0
websocket-client=1.8.0=pypi_0
wheel=0.44.0=py312haa95532_0
wikipedia=1.4.0=pypi_0
win_inet_pton=1.1.0=pyh7428d3b_7
wsproto=1.2.0=pypi_0
xz=5.4.6=h8cc25b3_1
yaml=0.2.5=h8ffe710_2
yarl=1.11.0=py312h827c3e9_0
zeromq=4.3.5=ha9f60a1_6
zipp=3.20.2=pyhd8ed1ab_0
zlib=1.2.13=h2466b09_6
zstandard=0.23.0=py312h4fc1ca9_0
zstd=1.5.6=h8880b57_0
